
*{
    margin: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
   
    

}

.navigation img {
    width: 100px;
    height: 100px;
     margin: 10px 50px;
}

nav{
    display:flex;
    gap: 20px;
     margin: 10px 50px;
    
}

header{
    background-color: black;
    color: white;
    padding: 30px;
}

.cardwrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

a{
    color: white;
}

.texte{
    display: flex;
    flex-direction: column;
    gap:20px;
}

button a {
    background-color: white;
   color:black;
   text-decoration: none;
   border-radius: 0px;
   padding: 20px;
}