* {
    margin: 0;

    font-family: "Epilogue", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;



}

h1{
    font-size: 60px;
}

span{
    font-family: "Epilogue";
    font-style: "SemiBold";
    
    font-size: 17px;

}

.navigation img {
    width: 100px;
    height: 100px;
    margin: 10px 50px;
}

nav {
    display: flex;
    gap: 20px;
    margin: 10px 50px;

}

header {
    background-color: black;
    color: white;
    padding: 30px;
}

.cardwrapperreverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

a {
    color: white;
}

.texte {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button a {
    color: black;
    text-decoration: none;
}
button {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 0px;
    height: 65px;
    width: 300px;

}

.cardwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    align-items: center;
    text-align: center;



}

main {
    padding: 30px;
}

.carte {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    
    
    

}

.carte img{
    height: 100px;
    width: 100px;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 20px;
}

.fondnoir {
    background-color: black;
    color: white;
    padding: 30px;
    height: 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.photo {
    width: 250px;
    height: 500px;
    text-align: left;
    padding: 10px;


    display: flex;
    flex-direction: column;
    gap:20px;
   img{
    width:250px;
    height: 250px;
    object-fit: cover;
   }
}

.image {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;
    width: 1000px;
    /* height: 700px; */
    margin: auto;
    

}

.carteclient{
    background-color: rgb(202, 190, 190);
    margin: auto;
    width: 300px;
    height: 300px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
        height: 70px;
        width:70px;
        border-radius: 50px;
        
    }}


.flexclient{
    display: flex;
    gap: 20px;
    
    width: 1000px;
    justify-content: space-around;
    margin: auto;
}

.avisflex{
    display: flex;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
}

.idee{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.para{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}