* {
    margin: 0;

    font-family: "Epilogue", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;



}

h1{
    font-size: 60px;
}

span{
    font-family: "Epilogue";
    font-style: "SemiBold";
    
    font-size: 17px;

}

.navigation img {
    width: 100px;
    height: 100px;
    margin: 10px 50px;
}

nav {
    display: flex;
    gap: 20px;
    margin: 10px 50px;

}

header {
    background-color: black;
    color: white;
    padding: 30px;
    height: 520px;
}

.cardwrapperreverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

a {
    color: white;
}

.texte {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button a {
    color: black;
    text-decoration: none;
}
button {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 0px;
    height: 65px;
    width: 300px;

}

.cardwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    align-items: center;
    text-align: center;
    height: 510px;



}

main {
    padding: 30px;
}

.carte {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    
    
    

}

.carte img{
    height: 100px;
    width: 100px;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 20px;
}

.fondnoir {
    background-color: black;
    color: white;
    /* padding: 30px; */
    height: 150px;
    /* margin: 50 0px; */
    width: 100%;
    margin: 0%;
    padding: 0%;
    
   
    
    
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items:center;
   gap: 100px;
   padding: 50px;
    /* flex-wrap: wrap; */


}

.photo {
    width: 250px;
    height: 500px;
    text-align: left;
    padding: 10px;


    display: flex;
    flex-direction: column;
    gap:20px;
   img{
    width:250px;
    height: 250px;
    object-fit: cover;
   }
}

.image {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 px;
    width: 1000px;
    /* height: 700px; */
    margin: auto;
    

}

.carteclient{
    background-color: rgb(244, 237, 237);
    margin: auto;
    width: 200px;
    height: 300px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
        height: 70px;
        width:70px;
        border-radius: 50px;
        
    }}


.flexclient{
    display: flex;
    gap: 0px;
    
    width: 900px;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;

}





.avisflex{
    display: flex;
    gap: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 60px;
    padding-bottom: 80px;
}

.idee{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.para{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}


.tableau{


    display: flex;
    flex-direction: column;
    gap: 15px;
   

    input{
         width: 400px;
         height: 50px;

    }
    
    button{
        width: 150px;


    }
    
}

.logodefin{
    display: flex;
    gap: 20px;

   
   
}
#real{
    margin-top: 100px;
    
}

.southpark{
    display: flex;
    flex-direction: column;
    gap: 10px;
}